  [type="radio"].with-gap:checked+label:after {
  border-radius: 50%;
  border: 2px solid #ff9100;
  border-color: #ff9100;
  background-color: #ff9100;
  box-shadow: #ff9100;
  z-index: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #ff9100 !important;
}
