<div class="row">
  <div class="col s12 m5">
    <div class="card-panel orange accent-2">
      <span class="white-text text-darken-2"><h5>1) O que é o serviço AWS da Amazon?</h5></span>
      <h5></h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m5">
    <form action="#">
        <p>
          <input class="with-gap indigo darken-4" name="group1" type="radio" id="test1" />
          <label for="test1">Red</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="test2" />
          <label for="test2">Yellow</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="test3" />
          <label for="test3">Green</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="test4" />
          <label for="test4">Brown</label>
        </p>
      </form>
  </div>
</div>
  